*.log

# Python
__pycache__/
*.pyc

# Virtual envs
env/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Datasets (large)
*.tsv
*.npy
*.npz
*.pt
*.pickle

# OS files
.DS_Store
Thumbs.db
