*.log

# Python
__pycache__/
*.pyc

# Virtual envs
env/
venv/
datasets/multiclass/*.csv
*.egg-info/
datasets/multiclass/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Datasets (large)
*.tsv
*.npy
*.npz
*.pt
*.pickle
*.csv

# OS files
.DS_Store
Thumbs.db

datasets/multiclass/

*.pkl
datasets/
**/moss_outputs/
**/results/